
<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />


   <title> F1-Zone</title>
   <!-- Font Awesome Stylesheet -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   <!-- Bootstrap Grid Stylesheet -->
   <link rel="stylesheet" href="/stylesheet/bootstrap-grid.min.css">
   <!-- Own Stylesheet -->
   <link rel="stylesheet" href="/stylesheet/app.css">
   <!-- NUEVA FONT 1 -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Encode+Sans+SC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
   <!-- NUEVA FONT 2-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Encode+Sans+SC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
</head>
<body>
   <!-- Header ..-->
       <!-- El codigo de header lo pase a partials para poder reutilizarlo y aca lo borre y deje esto -->
       <%- include('./partials/headerLogueado') %>
   <!-- /Header -->
  
   <!-- product detail -->
   <div class="container products-wrapper">
       <div class="d-flex align-items-center">
           <h2 class="products-title"><%= product.nombreProducto %></h2>
           <p class="product-detail-description">
               <!-- Link para agregar -->
               <a href="/product/add">Agregar</a>
           </p>
       </div>
       <div class="product-detail">
           <div class="row">
               <article class="col-12 col-lg-8 product-detail-info">
                   <!-- muestro la imagen que tiene giardado ESE producto -->
                   <img src="/images/products/<%= product.imagen %>" alt="<%= product.nombreProducto %>" class="product-detail-description">
                   <p class="product-detail-description">
                       <%=product.descripcion%></p>
                       
                       <p class="product-detail-description">Publicacion por:
                           <a href="/user/profile/<%= product.usuario.id %>">
                               <%= product.usuario.email %>
                           </a>
               </article>
               <div class="col-12 col-lg-4">
               <!-- aca hago lo de comentarios de detalle -->
                   
                       <!-- Aca voy hacer el punto de comentarios -->
                       <section class="comments"> 
                        <h4>Comentarios</h4>
                    
                        <% if (product.comentarios && product.comentarios.length > 0) { %> <!-- Si hay comentarios entra  -->
                            <ul>   
                                <% for (let i = product.comentarios.length-1; i >=0; i--) { 
                                    let comentario = product.comentarios[i]; %>
                                   <li>
                                       <strong>
                                           <a href="/user/profile/<%= comentario.usuarios.id %>">
                                               <%= comentario.usuarios.email %>
                                           </a>
                                       </strong>
                                       comentó el <%= comentario.createdAt %>:
                                       <br>
                                       <%= comentario.comentario %>
                                   </li>
                               <% } %>
    
                            </ul>
                        <% } else { %> 
                            <p>No hay comentarios aún.</p>
                        <% } %>
                    </section>
                    
                    
                    <% if (locals.user) { %> 
                        <form class="form" action="/product/detalle/<%= product.id %>/comentario" method="POST">
                            <textarea class="form-input" name="comentario" placeholder="Escribí tu comentario..." required></textarea> 
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button> 
                        </form>
                    <% } else { %> 
                        <p><a href="/user/login">Iniciá sesión para comentar</a></p> 
                    <% } %>
                    
                   <hr>
               </div>
           </div>
       </div>
   </div>
   <!-- /product detail -->


   <!-- footer -->
   <%- include('./partials/footer') %>
   <!-- /footer -->


</body>
</html>
