<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />
	
	<title> F1-Zone</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheet/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheet/app.css">
	<!-- NUEVA FONT 1 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Encode+Sans+SC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
	<!-- NUEVA FONT 2-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Encode+Sans+SC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
</head>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>  
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/<%= user.foto %>" alt="foto de perfil" class="foto-perfil">
			</div> 
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">
						 <%= user.email %>
						<a href="/"> <!-- era a /profile/profileedit pero esta asi para que no rompa -->
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%=productos.length %> productos</li> <!-- voy a tener que hacer un for con contador para ver cuantos productos publico -->
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	 <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Mis productos</h2>
            </div>
            <!-- Show mis productos -->
			<% for( let index = 0; index < productos.length; index++ ) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/product/id/<%=productos[index].id %>">
                            <figure class="product-box_image"> 
                                <!-- Muestra la imagen del producto i, usando el nombre de imagen que viene en productos[i].imagen. -->
                                <img src="/" alt="<%=productos[index].nombreProducto %>"> <!-- PONER LINK-->
                            </figure>
                            <article class="product-box_data">
                                <h2><%= productos[index].nombre  %></h2>
                                <p><%= productos[index].descripcion %></p>
                                <p>Comentarios: 12</p>
                            </article>
                        </a>
                    </section>
                </div>
        <% } %> 
        </div>
    </div>

	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>